.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 140px;
  .zero-intervals;
  list-style: none;

  @media (min-width: @tablet-width) {
    max-width: 200px;
  }
}

.social__item {
  position: relative;
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
  background-color: @basic-yellow;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.social__item:hover,
.social__item:focus,
.social__item:active {
  background-color: @basic-yellow-dark;
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.social__item:active .social__link:active {
  opacity: 0.3;
}


.social__ico {
  position: absolute;
}

.social__item:first-of-type .social__ico{
  top: 10px;
  left: 19px;

  @media (min-width: @tablet-width) {
    top: 16px;
    left: 24px;
    width: 13px;
    height: 25px;
  }

  @media (min-width: @desktop-width) {
    top: 16px;
    left: 25px;
    width: 13px;
    height: 27px;
  }
}

.social__item:nth-of-type(2) .social__ico{
  top: 16px;
  left: 12px;

  @media (min-width: @tablet-width) {
    top: 22px;
    left: 17px;
    width: 27px;
    height: 17px;
  }

  @media (min-width: @desktop-width) {
    top: 23px;
    left: 16px;
    width: 30px;
    height: 15px;
  }
}

.social__item:nth-of-type(3n) .social__ico{
  top: 13px;
  left: 14px;

  @media (min-width: @tablet-width) {
    top: 20px;
    left: 21px;
    width: 20px;
    height: 20px;
  }

  @media (min-width: @desktop-width) {
    top: 19px;
    left: 20px;
    width: 22px;
    height: 22px;
  }
}
