.main-title {
  font-size: 36px;
  line-height: 1.11111111;
  font-weight: 700;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1.16666666;
  }
}

.main-title-form,
.main-title-catalog {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  }
}

.form-sub-title {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: @basic-blue-dark;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.step-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: @basic-blue-dark;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.main-sub-title {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: @special-orange;

  @media (min-width: @tablet-width) {
    font-size: 45px;
  }
}
