.main-title {
  font-size: 36px;
  line-height: 1.11111111;
  font-weight: 700;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1.16666666;
  }
}

.main-title-else {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  color: @basic-white;
  border-bottom: 5px solid @special-orange;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    border-bottom: 8px solid @special-orange;
  }

}

.main-sub-title {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: @special-orange;

  @media (min-width: @tablet-width) {
    font-size: 45px;
  }
}
